#homeBackground {
    background-image: url('/assets/images/background/hot-air-balloon-back.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#homeBackground:before {
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card-img-top {
    width: 300px;
    height: 300px;
    clip: rect(10px,290px,290px,10px);
}

#homeBackground h5 {
    font-size: 3em;
    text-shadow: 1px 1px 2px black, 5px 7px 1em black, 4px 2px 0.2em black;
    color: white;
}