#waterActivitiesBackground {
    height: 100vh;
    overflow: hidden;
}

#waterActivitiesBackground > div{
    background-image: url('/assets/images/background/water_activities_bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 1;
}

#waterActivitiesBackground:before{
    content: '';
    background-image: url("/assets/images/mask.webp");
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    background-position: center;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 5;
}

#waterActivitiesBackground> div:before {
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#waterActivitiesBackground h5 {
    font-size: 3em;
    text-shadow: 1px 1px 2px black, 5px 7px 1em black, 4px 2px 0.2em black;
    color: white;
}

.media-list-center{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%,50%);
}
.media-list-center > img{
    width: auto!important;
    transform: translate(-50%,-50%);
    height: 100%;
    max-width: none;
}

.card{
    min-height: 25rem;
}

#waterRatingScore {
    color: #31ff2a;
    font-weight: bold;
}

#waterRatingScoreOverEqual4 {
    color: #ffb82a;
    font-weight: bold;
}