/* 
--------------------------
- 1.1 Default CSS
--------------------------
*/

/*google font*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:100,300,400,500,600,700,800,900');
/* Your default CSS. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/*custome css*/

::selection {
    background: var(--primary-color);
    color: #fff;
}

::-moz-selection {
    background: var(--primary-color);
    color: #fff;
}

/*--------------------------
   Padding top
---------------------------*/

.pt--0 {
    padding-top: 0
}

.pt--10 {
    padding-top: 10px
}

.pt--15 {
    padding-top: 15px
}

.pt--20 {
    padding-top: 20px
}

.pt--30 {
    padding-top: 30px
}

.pt--40 {
    padding-top: 40px
}

.pt--50 {
    padding-top: 50px
}

.pt--60 {
    padding-top: 60px
}

.pt--70 {
    padding-top: 70px
}

.pt--80 {
    padding-top: 80px
}

.pt--90 {
    padding-top: 90px
}

.pt--100 {
    padding-top: 100px
}

.pt--110 {
    padding-top: 110px
}

.pt--120 {
    padding-top: 120px
}

.pt--130 {
    padding-top: 130px
}

.pt--140 {
    padding-top: 140px
}

.pt--150 {
    padding-top: 150px
}

.pt--160 {
    padding-top: 160px
}

.pt--170 {
    padding-top: 170px
}

.pt--180 {
    padding-top: 180px
}

.pt--190 {
    padding-top: 190px
}

/*------------------------
   Padding bottom
---------------------------*/

.pb--0 {
    padding-bottom: 0
}

.pb--10 {
    padding-bottom: 10px
}

.pb--15 {
    padding-bottom: 15px
}

.pb--20 {
    padding-bottom: 20px
}

.pb--30 {
    padding-bottom: 30px
}

.pb--40 {
    padding-bottom: 40px
}

.pb--50 {
    padding-bottom: 50px
}

.pb--60 {
    padding-bottom: 60px
}

.pb--70 {
    padding-bottom: 70px
}

.pb--80 {
    padding-bottom: 80px
}

.pb--90 {
    padding-bottom: 90px
}

.pb--100 {
    padding-bottom: 100px
}

.pb--110 {
    padding-bottom: 110px
}

.pb--120 {
    padding-bottom: 120px
}

.pb--130 {
    padding-bottom: 130px
}

.pb--140 {
    padding-bottom: 140px
}

.pb--150 {
    padding-bottom: 150px
}

.pb--160 {
    padding-bottom: 160px
}

.pb--170 {
    padding-bottom: 170px
}

.pb--180 {
    padding-bottom: 180px
}

.pb--190 {
    padding-bottom: 190px
}

/*------------------------------
   Page section padding 
-------------------------------*/

.ptb--0 {
    padding: 0
}

.ptb--10 {
    padding: 10px 0
}

.ptb--20 {
    padding: 20px 0
}

.ptb--30 {
    padding: 30px 0
}

.ptb--40 {
    padding: 40px 0
}

.ptb--50 {
    padding: 50px 0
}

.ptb--60 {
    padding: 60px 0
}

.ptb--70 {
    padding: 70px 0
}

.ptb--80 {
    padding: 80px 0
}

.ptb--90 {
    padding: 90px 0
}

.ptb--100 {
    padding: 100px 0
}

.ptb--110 {
    padding: 110px 0
}

.ptb--120 {
    padding: 120px 0
}

.ptb--130 {
    padding: 130px 0
}

.ptb--140 {
    padding: 140px 0
}

.ptb--150 {
    padding: 150px 0
}

.ptb--160 {
    padding: 160px 0
}

.ptb--170 {
    padding: 170px 0
}

.ptb--180 {
    padding: 180px 0
}

/*------------------------------
   Page section padding left
-------------------------------*/

.pl--0 {
    padding-left: 0px;
}

.pl--10 {
    padding-left: 10px;
}

.pl--20 {
    padding-left: 20px;
}

.pl--30 {
    padding-left: 30px;
}

.pl--40 {
    padding-left: 40px;
}

.pl--50 {
    padding-left: 50px;
}

.pl--60 {
    padding-left: 60px;
}

.pl--70 {
    padding-left: 70px;
}

.pl--80 {
    padding-left: 80px;
}

.pl--90 {
    padding-left: 90px;
}

.pl--100 {
    padding-left: 100px;
}

.pl--110 {
    padding-left: 110px;
}

/*------------------------------
   Page section padding right
-------------------------------*/

.pr--0 {
    padding-right: 0px;
}

.pr--10 {
    padding-right: 10px;
}

.pr--20 {
    padding-right: 20px;
}

.pr--30 {
    padding-right: 30px;
}

.pr--40 {
    padding-right: 40px;
}

.pr--50 {
    padding-right: 50px;
}

.pr--60 {
    padding-right: 60px;
}

.pr--70 {
    padding-right: 70px;
}

.pr--80 {
    padding-right: 80px;
}

.pr--90 {
    padding-right: 90px;
}

.pr--100 {
    padding-right: 100px;
}

.pr--110 {
    padding-right: 110px;
}

/* Colors */

:root {
    --primary-color: #12a0ff;
    --bs-primary: #12a0ff;
    --bs-primary-rgb: 18, 160, 255;
}

.form-check-input:checked{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* pre-loader */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99998;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
}

.loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}

.loader div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
    left: 6px;
    animation: move-dio 2.5s infinite;
}

.loader div:nth-child(2) {
    left: 26px;
    animation: move-dio1 2.5s infinite;
}

.loader div:nth-child(3) {
    left: 45px;
    animation: move-dio12 2.5s infinite;
}

.loader div:nth-child(4) {
    left: 65px;
    animation: move-dio13 2.5s infinite;
}

@keyframes move-dio {
    from {
        left: 6px;
    }
    20% {
        left: 6px;
        background: rgba(0, 0, 0, 0.7);
    }
    40% {
        left: 26px;
    }
    60% {
        left: 45px;
    }
    80% {
        left: 65px;
        background: rgba(0, 0, 0, 0.7);
    }
    90% {
        left: 65px;
        background: rgba(0, 0, 0, 0.4);
    }
    to {
        left: 65px;
    }
}

@keyframes move-dio1 {
    from {
        left: 26px;
    }
    20% {
        left: 26px;
    }
    40% {
        left: 6px;
    }
    to {
        left: 6px;
    }
}

@keyframes move-dio12 {
    from {
        left: 45px;
    }
    40% {
        left: 45px;
    }
    60% {
        left: 26px;
    }
    to {
        left: 26px;
    }
}

@keyframes move-dio13 {
    from {
        left: 65px;
    }
    60% {
        left: 65px;
    }
    80% {
        left: 45px;
    }
    to {
        left: 45px;
    }
}

/* submit load icon */

#pre-submit-load {
    height: 100%;
    width: 100%;
    display: flex;
}

.submit-load {
    display: inline-block;
    position: relative;
    width: 54px;
    height: 100%;
    margin: auto;
}

.submit-load div {
    position: absolute;
    top: 44%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.submit-load div:nth-child(1) {
    left: 0px;
    animation: submit-move-dio 2.5s infinite;
}

.submit-load div:nth-child(2) {
    left: 14px;
    animation: submit-move-dio1 2.5s infinite;
}

.submit-load div:nth-child(3) {
    left: 29px;
    animation: submit-move-dio12 2.5s infinite;
}

.submit-load div:nth-child(4) {
    left: 44px;
    animation: submit-move-dio13 2.5s infinite;
}

@keyframes submit-move-dio {
    from {
        left: 0px;
    }
    20% {
        left: 0px;
        background: rgba(0, 0, 0, 0.7);
    }
    40% {
        left: 14px;
    }
    60% {
        left: 29px;
    }
    80% {
        left: 44px;
        background: rgba(0, 0, 0, 0.7);
    }
    90% {
        left: 44px;
        background: rgba(0, 0, 0, 0.4);
    }
    to {
        left: 44px;
    }
}

@keyframes submit-move-dio1 {
    from {
        left: 14px;
    }
    20% {
        left: 14px;
    }
    40% {
        left: 0px;
    }

    to {
        left: 0px;
    }
}

@keyframes submit-move-dio12 {
    from {
        left: 29px;
    }
    40% {
        left: 29px;
    }
    60% {
        left: 14px;
    }

    to {
        left: 14px;
    }
}

@keyframes submit-move-dio13 {
    from {
        left: 44px;
    }
    60% {
        left: 44px;
    }
    80% {
        left: 29px;
    }

    to {
        left: 29px;
    }
}

/* noscript */

#noscript {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
}

/* card-highlight */
.card-highlight{
    animation: card-highlight 1s ease-in-out;
}

@keyframes card-highlight {
    from{
        background-color: white;
    }
    25%{
        background-color: rgba(255, 255, 0, 0.5);
    }
    50%{
        background-color: white;
    }
    75%{
        background-color: rgba(255, 255, 0, 0.5);
    }
    to{
        background-color: white;
    }
}

/* cover */
.cover{
    position: relative;
    overflow: hidden;
}

.cover:before{
    content: '';
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* page-title-area */
.heard-area{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/heard_bg.webp");
    --bs-breadcrumb-divider: '\f054';
    position: relative;
    z-index: 1;
}

.heard-area:before{
    content: ' ';
    background: linear-gradient(transparent 15%, #F3F8FB 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.breadcrumb-item::before{
    font: var(--fa-font-solid);
    margin-top: 4px;
}

.heard-area .page-title{
    font-size: 30px;
}

/* needs-validation IDE auto complete */
.needs-validation {
}